.board {
  display: flex;
  justify-content: space-around;
  min-height: 550px;
  padding: 10px;
  border-radius: 8px;
  min-width: 100%;
  box-sizing: border-box;
  background-color: #ccd6c9;
}

.board_title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #2c3e5d;
}

.list_item {
  min-width: 320px;
  min-height: 500px;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  background-color: #ebecf0;
  margin: 0 5px;
}
.list_item h1 {
  color: #2c3e5d;
  font-size: 22px;
}

.delete_column_btn {
  float: right;
  padding: 3px;
}

.move-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.move-buttons-container__btn {
  margin-left: 5px !important;
}

.content {
  overflow-wrap: break-word;
}

.ui.negative.button {
  padding: 5px 6px;
  margin: 0;
  text-align: center;
}

.ui.tiny {
  padding: 0;
  margin-right: 15px;
  background-color: white;
  width: 9px;
}

.ui.mini {
  margin: 0;
}

.trash.icon {
  margin: 0;
  padding: 0;
}

.positive.add_task_btn {
  margin: 0 0 0 9px;
}
.ui.selection.dropdown {
  min-width: 25px;
  min-height: 15px;
}

.custom-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
